{% extends "layout.html" %}

{% block content %}

<h2>Home</h2>

<p>Welcome to the Budget Price App!</p>

<form method="POST">
    <label>Product Name</label><br>
    <input type="text"
            name="product_name"
            value="{{product_name or ''}}">
    
    <br><br>

    <label>Price ($)</label><br>
    <input type="number" 
    name="price" step="0.01" value="{{price or ''}}">

    <br><br>

    <label>Calories</label><br>
    <input type="number" 
    name="calories" 
    value="{{calories or ''}}">

    <br><br>

    <label>Protein (g)</label><br>
    <input type="number" 
            name="protein" 
            step="0.1" 
            value="{{protein or ''}}">

    <br><br>

    <button>Calculate</button>
</form>

{% if protein_per_dollar%}

<hr>
    <h2>Results</h2>
    <p>Calories per dollar: {{ "%0.1f" | format(calorie_per_dollar) }}</p>
    <p>Grams of protein per dollar: {{ "%0.1f" | format(protein_per_dollar) }}</p>
{% endif %}

<h2>Saved Products</h2>

<table>
    <tr>
        <th>Product Name</th>
        <th>Price ($)</th>
        <th>Calories</th>
        <th>Protein (g)</th>
    </tr>

    {% for product in products %}
    <tr>
        <td>{{ product['product_name'] }}</td>
        <td>${{ "%.2f"|format(product["price"]) }}</td>
        <td>{{ product['calories'] }}</td>
        <td>{{ "%.1f"|format(product["protein"]) }}</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}